//https://sass-lang.com/documentation/
//please refer above link for more functions


$color-primary: orange;
$color-secondary:gray;
$color-tertiary:royalblue;

$font-lg:40px;
$font-md:30px;
$font-sm:20px;

//nesting
.nav {
    /*  Lighten, darken are the inbuilt functions where they lighten and darken the colors, usually used for mouseovers */
    //background-color: lighten($color-primary,40%);
    
    /*
    transparentize is another function where we can change opacity of the element,. here .6 will transparent the div to 60%
    */
    //background-color: transparentize($color-primary, .6);
    
    /* mix is another function where it will mix two colors given inside, the third arguements effects the first color blue, which means it will take 10% of first color and mix with second color. */
    background-color: mix(blue,green,10%);

    ul li {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-size: $font-sm;
        color: $color-secondary;

        &:hover {
            color: royalblue
        } 
    }

} 

/* placeholders,  these place holders are pretty usefull if we are not using the class itself like class"=heading" 

here we used % instead of . which means these properties are simply going to use by extending classes which are banner h1, footer h3 but the class it self not going to present in main.css
*/

%heading{
    color: $color-primary;
    font-size:$font-lg;
    background-color:$color-secondary;
    text-align: center;
}



.banner h1 {
    /* to inherit all the properties we can use extend like following 
    
    @extend cannot be used in combination selectors(@extend .banner h1) 
    */
    @extend %heading;
    
    &:hover{
        background-color:green;
    }
    
} 

.footer h3 {
       @extend %heading;
    
}
